@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height:100%;
    width: 100%;
    overflow: hidden;
}
#main{
    height: 100vh;
    width:100%;
    background-color: crimson;
    position: relative;
}
#main #nav-items{
   height:100px;
   width:100%;
   position:relative;
   
}
#nav-items .right-part{
    position: absolute;
    height: 50px;
    width:100px;
    top: 20%;
    right: 10%;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;

}

#nav-items .right-part i{
    display:inline-flex;
    height:40px;
    width:40px;
    font-size: 2rem;
    color:#ffffff;
    border-radius: 50%;
}

#nav-items .circle-9{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3,12px);
    overflow: hidden;
    height: 40px;
    width:40px;
    position:absolute;
    top:15px;
    right:0;
    z-index: 10;
    justify-content: end;
}

#nav-items .circle-9>div{
    display: inline-block;
    height:10px;
    width:10px;
    border:2px solid white;
    border-radius: 50%;
   /* transform: translate(-50%,-50%); */
}
#nav-items  .circle-9 .hor{
    display: inline-block;
    height:10px;
    width:10px;
    position: relative;
    border:2px solid rgb(16, 46, 40);
    border-radius: 50%;
}
#nav-items .ver{
    position: absolute;
    display: inline-block;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    height:100%;
    width:100%;
    border-radius: 50%;
}



#main .loader-top{
    position: absolute;
    left:7%;
    top:10%;
    color:white;
}
#main .loader-top img{
    height:400px;
    mix-blend-mode:multiply;
    
    background: #000;
}
#main .left-part{
    height:100px;
    width:100px;
    position: absolute;
    left:150px;
}
#main .left-part .logo-name{
    color:#fff;
    letter-spacing: -6px;
    font-size: 4rem;
}
#main .content-Area{
    height:600px;
    max-width: 450px;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 20%;
    left:20%;
    
}
.content-Area h1{
    height:120px;
    margin-bottom:10px;
    overflow: hidden;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap:0px;
    flex-direction: row;
    
}
.content-Area h1 span{
    
    font-weight: 100;
    color:#fff;
    font-size: 4rem;

}
.content-Area .text-content{
   
    
    height:480px;
    width:100%;
    /* display:flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;    */
}
.content-Area .text-content p{
    margin:0 0 0;
    color: #dfd9d9;
    text-align: center;

}
#main #profile-section{
    position: absolute;
    top:20%;
    right:10%;
    display:flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    box-shadow:  10px 100px 310px #fff;
    height:500px;
    width: 450px;
}
#main #profile-section #photo{
    height:140px;
    width:100%;
    display: flex;
    align-items: center;
}
#main #profile-section #photo  img{
    height:100px;
    margin:0 auto;
    border:2px solid white;
    border-radius: 50%;
}
#profile-section h1{
    color:#edeaec;
    text-transform: uppercase;
    font-weight: 100;
    margin:0 0 0 20px;
}
#profile-section .changing{
    display: inline-block;
    width:100%;
    left:23%;
    position: relative;
    color:#0f0f0fc5;
    font-weight: 100;
    margin: 0;

}
#profile-section  .values{
    position: absolute;
    display: inline-flex;
    height:100%;
    width:75%;
    color:#FFF;
    font-size: 1.4rem;
    margin:0 2px 0 10px;
    align-items: center;
    
}

 #aboutUs{
    position: absolute;
    top:15vh;
    left: 100vw;
    height:80vh;
    width: 95vw;
    overflow: hidden;
    backdrop-filter: blur(4px);
}
 #aboutUs .about-container{
    position: relative;
    /* top:15vh;
    left: 3vw; */
    height:100%;
    width: 100%;
    background-color: #49404000;
    overflow: hidden;
}
#aboutUs .about-gridContainer{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(4,25%);
}


/* block1 designing */
#aboutUs #block-1{
    position: relative;
    grid-row: 1/5; 
    grid-column: 1/3;
    height: 80%;
    margin:100px 0px 0px 10px;
    border:4px solid white;
    border-radius:20px;
    overflow: hidden;
    padding: 0px 0px 10px 10px;
    opacity: 1;
   background-color: rgba(192, 210, 206, 0.2);
}


#aboutUs #block-1 .svg-containerClass{
    position: absolute;
    top:0px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(192, 210, 206, 0.2);
    opacity: 1;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#aboutUs #block-1 .svg-containerClass svg{
    position: absolute;
    top:-70px;
    height: 130%;
    width: 100%;
    backdrop-filter: blur(400px);
    mix-blend-mode: overlay;
    opacity: 0;
}

#aboutUs #block-1 .svg-containerClass #block1-text{
    
    height:200px;
    width:50%;
    position: absolute;

}
#aboutUs #block-1 .svg-containerClass #block1-text h2{
    color:#ffffff;
    margin-left: 20px;
    font-size: 3rem;
    opacity:1;
}
#aboutUs #block-1 .svg-containerClass #block1-text p{
text-align: justify;
color:#FFF;

}





/* block2 designing */
#aboutUs #block-2{
    position: relative;
    grid-row: 1/3; 
    grid-column: 3/4;
    height: 100%;
    width: 90%;
    left: 0;
    margin:20px 0px 0px 30px;
    border:4px solid rgb(255, 255, 255);
    border-radius:20px;
    overflow: hidden;
    padding: 0px 0px 10px 10px;
    opacity: 1;
   background-color: rgba(255, 255, 255, 0.2);
}


#aboutUs #block-2 .svg-containerClass{
    position: absolute;
    top:0px;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color: #000000; */
    opacity: 1;
    overflow: hidden;
  
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#aboutUs #block-2 .svg-containerClass svg{
    position: absolute;
    top:-40px;
    height: 130%;
    width: 100%;
    backdrop-filter: blur(400px);
    mix-blend-mode: overlay;
    opacity: 0;
}

#aboutUs #block-2 .svg-containerClass #block2-text{
    color:#FFF;
    height:200px;
    width:50%;
    position: absolute;

}
#aboutUs #block-2 .svg-containerClass #block2-text h2{
    color:#ffffff;
    margin-left: 20px;
    font-size: 2rem;
    opacity:1;
}
#aboutUs #block-2 .svg-containerClass #block2-text .anchor{
position: absolute;
bottom: 0;
right: 0;

}
#aboutUs #block-2 .svg-containerClass #block2-text a{
color: #fff;
text-decoration: none;
}




/* block3 designin */

#aboutUs #block-3{
    position: relative;
    grid-row: 1/3; 
    grid-column: 4/5;
    height: 100%;
    width: 90%;
    left: 0;
    margin:20px 0px 0px 30px;
    border:4px solid rgb(255, 255, 255);
    border-radius:20px;
    overflow: hidden;
    padding: 0px 0px 10px 10px;
    opacity: 1;
   background-color: rgba(255, 255, 255, 0.2);
}

#aboutUs #block-3 .svg-containerClass{
    position: absolute;
    top:0px;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color: #000000; */
    opacity: 1;
    overflow: hidden;
    
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#aboutUs #block-3 .svg-containerClass svg{
    position: absolute;
    top:-40px;
    height: 130%;
    width: 100%;
    backdrop-filter: blur(400px);
    mix-blend-mode: overlay;
    opacity: 0;
    opacity: 0;
}

#aboutUs #block-3 .svg-containerClass #block3-text{
    color:#FFF;
    height:200px;
    width:50%;
    position: absolute;

}
#aboutUs #block-3 .svg-containerClass #block3-text h2{
    color:#ffffff;
    margin-left: 20px;
    font-size: 2rem;
    opacity:1;
}
#aboutUs #block-3 .svg-containerClass #block3-text .anchor{
position: absolute;
bottom: 0;
right: 0;

}
#aboutUs #block-3 .svg-containerClass #block3-text a{
color: #fff;
text-decoration: none;
}

/* block4 designin */

#aboutUs #block-4{
    position: relative;
    grid-row: 3/5; 
    grid-column: 3/5;
    height: 90%;
    width: 95%;
    left: 0;
    margin:30px 0px 0px 30px;
    border:4px solid rgb(255, 255, 255);
    border-radius:20px;
    overflow: hidden;
    padding: 0px 0px 10px 10px;
    opacity: 1;
   background-color: rgba(255, 255, 255, 0.2);
}

#aboutUs #block-4 .svg-containerClass{
    position: absolute;
    top:0px;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color: #000000; */
    opacity: 1;
    overflow: hidden;
    border-radius: 80% 86% 86% 86%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#aboutUs #block-4 .svg-containerClass svg{
    position: absolute;
    top:-18vh;
    height: 600px;
    width: 100%;
    backdrop-filter: blur(400px);
    mix-blend-mode: overlay;
    
    opacity: 0;
}

#aboutUs #block-4 .svg-containerClass #block4-text{
    color:#FFF;
    height:200px;
    width:50%;
    position: absolute;
    right:10%;
    top: 35%;
}
#aboutUs #block-4 .svg-containerClass #block4-text h2{
    color:#ffffff;
    margin-left: 20px;
    font-size: 2rem;
    opacity:1;
}
#aboutUs #block-4 .svg-containerClass #block4-text .anchor{
position: absolute;
top:45%;
right:45%;

}
#aboutUs #block-4 .svg-containerClass #block4-text a{
color: #fff;
text-decoration: none;
}


