@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height:100%;
    width: 100%;
}
#main{
    height: 100vh;
    width:100%;
    background-color: crimson;
    position: relative;
}
#main #nav-items{
   height:100px;
   width:100%;
   position:relative;
   
}
#nav-items .right-part{
    position: absolute;
    height: 50px;
    width:100px;
    top: 20%;
    right: 10%;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;

}

#nav-items .right-part i{
    display:inline-flex;
    height:40px;
    width:40px;
    font-size: 2rem;
    color:#ffffff;
    border-radius: 50%;
}

#nav-items .circle-9{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3,12px);
    overflow: hidden;
    height: 40px;
    width:40px;
    position:absolute;
    top:15px;
    right:0;
    z-index: 10;
    justify-content: end;
}

#nav-items .circle-9>div{
    display: inline-block;
    height:10px;
    width:10px;
    border:2px solid white;
    border-radius: 50%;
   /* transform: translate(-50%,-50%); */
}
#nav-items  .circle-9 .hor{
    display: inline-block;
    height:10px;
    width:10px;
    position: relative;
    border:2px solid rgb(16, 46, 40);
    border-radius: 50%;
}
#nav-items .ver{
    position: absolute;
    display: inline-block;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    height:100%;
    width:100%;
    border-radius: 50%;
}



#main .loader-top{
    position: absolute;
    left:7%;
    top:10%;
    color:white;
}
#main .loader-top img{
    height:400px;
    mix-blend-mode:multiply;
    
    background: #000;
}
#main .left-part{
    height:100px;
    width:100px;
    position: absolute;
    left:150px;
}
#main .left-part .logo-name{
    color:#fff;
    letter-spacing: -6px;
    font-size: 4rem;
}
#main .content-Area{
    height:600px;
    max-width: 450px;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 20%;
    left:20%;
    
}
.content-Area h1{
    height:120px;
    margin-bottom:10px;
    overflow: hidden;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap:0px;
    flex-direction: row;
    
}
.content-Area h1 span{
    
    font-weight: 100;
    color:#fff;
    font-size: 4rem;

}
.content-Area .text-content{
   
    
    height:480px;
    width:100%;
    /* display:flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;    */
}
.content-Area .text-content p{
    margin:0 0 0;
    color: #dfd9d9;
    text-align: center;

}
#main #profile-section{
    position: absolute;
    top:20%;
    right:10%;
    display:flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    box-shadow:  10px 100px 310px #fff;
    height:500px;
    width: 450px;
}
#main #profile-section #photo{
    height:140px;
    width:100%;
    display: flex;
    align-items: center;
}
#main #profile-section #photo  img{
    height:100px;
    margin:0 auto;
    border:2px solid white;
    border-radius: 50%;
}
#profile-section h1{
    color:#edeaec;
    text-transform: uppercase;
    font-weight: 100;
    margin:0 0 0 20px;
}
#profile-section .changing{
    display: inline-block;
    width:100%;
    left:23%;
    position: relative;
    color:#0f0f0fc5;
    font-weight: 100;
    margin: 0;

}
#profile-section  .values{
    position: absolute;
    display: inline-flex;
    height:100%;
    width:75%;
    color:#FFF;
    font-size: 1.4rem;
    margin:0 2px 0 10px;
    align-items: center;
    
}
/* #profile-section .low-vertical{
    display: block;
    position: absolute;
    bottom: 10%;
    right: 0;
    height:10px;
    width: 100%;
    background-color: #000;
    
}
#profile-section .low-vertical .low-inner{
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    height:100%;
    width: 100%;
    z-index: 10;
    background-color: #d5c7c7;
}
#profile-section .low-horizontal{
    display: block;
    position: absolute;
    bottom: 10%;
    right: 20px;
    height:88%;
    width: 10px;
    background-color: rgba(13, 13, 13, 0.7);
    border-radius: 0 20px 0 0;
}
#profile-section .low-horizontal .low-inner1{
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height:100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0 20px 0 0;
} */

